<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" 
	id="com.motobite.cordova.location.plugin" version="0.1.2">
	<name>MBGPS</name>
	<description>A service for tracking users in background</description>
	<license>Apache 2.0</license>
	<keywords>cordova,motobite</keywords>
	<author>Rakesh Kalyankar</author>
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	<js-module src="www/BackgroundGeoLocation.js" name="BackgroundGeoLocation">
            <clobbers target="motobite.location" />
     </js-module>
	  <!-- android -->
	 <platform name="android">
		 <framework src="com.google.android.gms:play-services-location:7.8.0" />
		 <source-file src="src/android/GPStracker.java" target-dir="src/com/reku/motobite/cordova" />
		 <source-file src="src/android/GPStrackerHelper.java" target-dir="src/com/reku/motobite/cordova" />
		 <source-file src="src/android/Constants.java" target-dir="src/com/reku/motobite/cordova" />
		 <source-file src="src/android/DetectedActivitiesIntentService.java" target-dir="src/com/reku/motobite/cordova" />
		 <source-file src="src/android/GeofenceTransitionsIntentService.java" target-dir="src/com/reku/motobite/cordova" />
		 <!--<source-file src="src/android/GeofenceErrorMessages.java" target-dir="src/com/reku/motobite/cordova" /> -->
		 
		 <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.reku.motobite.cordova.GPStracker" android:enabled="true" android:process=":remote" />
			<service android:name="com.reku.motobite.cordova.DetectedActivitiesIntentService" android:process=":remote" android:exported="false" />
			<service android:name="com.reku.motobite.cordova.GeofenceTransitionsIntentService" android:process=":remote" android:exported="false" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
		</config-file>
		
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BackgroundGeoLocation">
				<param name="android-package" value="com.reku.motobite.cordova.GPStrackerHelper"/>
			</feature>
		</config-file>
		
	 </platform>
	 <!-- ios -->
	 <platform name="ios">
		 <!-- temperorary to add xcode support -->
		 <hook type="after_plugin_install" src="hooks/add_swift_support.js" />
		 <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
					<string>MotoBite requires access to your phone's location</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
					<string>MotoBite needs access to your location information</string>
		</config-file>
		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>location</string>
			</array>
		</config-file>
		 <config-file target="config.xml" parent="/*">
			 <preference name="deployment-target" value="7.0" />
			 <feature name="BackgroundGeoLocation">
            	<param name="ios-package" value="CDVGPSTracker"/>
        	</feature>
		</config-file>
		<source-file src="src/ios/CDVGPSTrackerHelper.swift" />
		<source-file src="src/ios/CDVGPSTracker.swift" />
	 </platform>
</plugin>
