<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" 
	id="com.motobite.cordova.location.plugin.tests" version="0.0.1">
	<name>MBGPS-Tests</name>
	<description>A service for tracking users in background</description>
	<license>Apache 2.0</license>
	<keywords>cordova,motobite</keywords>
	<author>Rakesh Kalyankar</author>
	<js-module src="tests/tests.js" name="tests">
    </js-module>
</plugin>
	